In [4]:
import pandas as pd

In [16]:
true_df=pd.read_csv('True.csv')
fake_df=pd.read_csv('Fake.csv')

In [17]:
true_df['label'] = 1   # Real news
fake_df['label'] = 0   # Fake news

In [18]:
df = pd.concat([true_df, fake_df], axis=0)

In [19]:
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

In [20]:
df.head()

,title,text,subject,date,label
0,BREAKING: GOP Chairman Grassley Has Had Enoug...,"Donald Trump s White House is in chaos, and th...",News,"July 21, 2017",0
1,Failed GOP Candidates Remembered In Hilarious...,Now that Donald Trump is the presumptive GOP n...,News,"May 7, 2016",0
2,Mike Pence’s New DC Neighbors Are HILARIOUSLY...,Mike Pence is a huge homophobe. He supports ex...,News,"December 3, 2016",0
3,California AG pledges to defend birth control ...,SAN FRANCISCO (Reuters) - California Attorney ...,politicsNews,"October 6, 2017",1
4,AZ RANCHERS Living On US-Mexico Border Destroy...,Twisted reasoning is all that comes from Pelos...,politics,"Apr 25, 2017",0

In [21]:
df = df[['title', 'text', 'label']]

In [22]:
df['text'] = df['title'] + " " + df['text']
df = df[['text', 'label']]

In [23]:
df = df.dropna()

In [24]:
df.head()
df.shape
df['label'].value_counts()

label
0    23481
1    21417
Name: count, dtype: int64

In [25]:
df.to_csv('fake_or_real_news.csv', index=False)